{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Baabtra</title>

</head>

<body class="body">  
<header>
    <div class="container">
        <table style="margin-left: 7%;" border="0" width="100%" cellpadding="2px">
            <tr>
                <td><a href="home.html"><img src="{% static 'images/logo1.png' %}" width="200" height="58.6"></a></td>
                <td colspan="5">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td colspan="1" style="font-size:15px; font-family: sans-serif;"><b><a href=""
                            style="color: white; text-decoration: none;" data-toggle="dropdown">Programs</b></a></td>
                <td colspan="1" style="font-size:15px; font-family: sans-serif;"><a href=""
                        style="color: white; text-decoration: none;"><b>Placements</b></a></td>
                <td colspan="2" style="font-size:15px; font-family: sans-serif;"><a href=""
                        style="color: white; text-decoration: none;"><b>About Us</b></a></td>
                <td colspan="1" style="font-size:15px; font-family: sans-serif;"><a href=""
                        style="color: white; text-decoration: none;"><b>Blogs</b></a></td>
                <td colspan="1" style="font-size:15px; font-family: sans-serif;"><a href=""
                        style="color: white; text-decoration: none;"><b>Gallery</b></a></td>
                <td><button class="btn1"><b>Enquire Now</b></button></td>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
            </tr>
        </table>
    </div>
</header>
    <hr width="100%" style='background-color: #584ea3; height: 2px ;border: none;'>
    <div height=" ">
        <br><br><br><br><br><br><br>
        <div style="width: 40%; margin-left: 12%; height: 100x; float: left;">
            <table border="0" width="100%" height="">
                <tr>
                    <td colspan="8" style="color: white; font-family: sans-serif; font-size: 13px; font-style: Muli;">
                        <span style="color: red;"><b>------ </b></span><B>LEARN
                            SOFTWARE&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br><br><br></B>
                    </td>
                    <!-- <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td> -->
                    <!-- <td rowspan="7" colspan="8" align="right"><img src="/images/baabtra1.png" width="635" height="525"></td> -->
                </tr>
                <tr>
                    <td class="h2-1"><b>Getting a Software Job is So Easy Now with our IT Internship
                            Programs.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br><br></b></td>
                    <!-- <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td> -->
                </tr>
                <tr>
                    <td class="td1">Learn programming from Kerala's most trusted software training company with the
                        highest placement record. Enroll in software courses and internship programs in Python, Flutter,
                        Angular and PHP to start your
                        career.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br><br><br>
                    </td>
                </tr>
                <tr>
                    <td><button class="btn12"><b><span class="icon1 material-symbols-outlined">
                        list
                        </span>&nbsp;&nbsp;&nbsp;Our Courses</b></button></td>
                </tr>
            </table>
        </div>
        <div style="margin-left: 10%; ">
            <table width="30%" border="0" align="right">
                <tr>
                    <td rowspan="7" colspan="8"><img src="{% static 'images/baabtra1.png' %}" width="635" height="525"></td>
                </tr>
            </table>
        </div>
        <br>
    </div>
    <br><br><br><br><br><br>
    <div>
        <table class="div2" width="1150" height="225" style="border-radius: 10px;">
            <tr>
                <td rowspan="3">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td rowspan="3"><img src="{% static 'images/babLogo.png' %}" height="120" width="120"></td>
                <td colspan="7">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </td>
            </tr>
            <tr>
                <td>
                    <span class="td3">----WE ARE AFFILIATED WITH</span><br>
                    <span class="h2-1"><b>Oray Education London, UK</b></span>
                </td>
                <td colspan="2"><button class="btn2"><b>Download Brochure</b></button></td>
            </tr>
        </table>
        <br><br><br><br><br>
    </div>
    <div>
        <center>
            <span class="pr"><b>EXPERTISE IN EDUCATION</b></span>
            <p class="h2-2"><b>Ed-tech company with 11 years of industry leadership in training and<br>
                    placements, holding highest number of placement track in Malabar.</b></p>
        </center>
        <br>
        <br>
    </div>
    <center>
        <div class="div3">
            <div class="card12">
                <center>
                    <br><br>
                    <img src="{% static 'images/python.png' %}" height="80" width="80"><br><br><br>
                    <span class="p-2"><b>Python<br>Training</b></span><br><br>
                </center>
            </div>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <div class="card12">
                <center>
                    <br><br>
                    <img src="{% static 'images/flutter.png' %}" height="80" width="80"><br><br><br>
                    <span class="p-2"><b>Flutter<br>Training</b></span><br><br>
                </center>
            </div>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <div class="card12">
                <center>
                    <br><br>
                    <img src="{% static 'images/angular.png' %}" height="80" width="80"><br><br><br>
                    <span class="p-2"><b>Angular<br>Training</b></span><br><br>
                </center>
            </div>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <div class="card12">
                <center>
                    <br><br>
                    <img src="{% static 'images/php.png' %}" height="80" width="80"><br><br><br>
                    <span class="p-2"><b>PHP<br>Training</b></span><br><br>
                </center>
            </div>
        </div>
        <br>
        <div height=" ">
            <br><br><br>
            <div style="width: 40%; margin-left: 10%; height: 100x; float: left;">
                <br><br><br><Br></Br><Br></Br><Br></Br>
                <table border="0" width="100%" height=""></table>
                <tr>
                    <td rowspan="7" colspan="5"><img src="{% static 'images/baabtra.png' %}" width="520" height="462"></td>
                </tr>
                </table>
            </div>
            <br><br><br><br><br>
            <div style="margin-left: 30px; ">
                <table width="43%" border="0" align="left">
                    <tr>
                        <td colspan="8"
                            style="color: #385777; font-family: sans-serif; font-size: 13px; font-style: Muli;">
                            <span style="color: red;"><b>------ </b></span><B>EXPLORE OUR INTERNSHIP
                                PROGRAMME&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br><br><br></B>
                            <span style="color: #07294D; font-size: 36px;"><b>Learn new skills to go ahead of your
                                    career</b></span>
                            <br><br><br>
                        </td>
                    </tr>
                    <tr>
                        <td class="h2-3">
                            <b>Join Us</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>
                            <span style="color:#535967; font-size: 16px;">It doesn’t matter how talented you are. Join
                                specialized job oriented<br>
                                software courses & training programs and just learn the in-demand skills<br>
                                to be a better programmer.</span>
                            <br><br>
                        </td>
                    </tr>
                    <tr>
                        <td class="h2-3">
                            <b>Get Skilled for Job</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>
                            <span style="color:#535967; font-size: 16px;">Get trained and skilled under the guidance of
                                expert software engineers<br>
                                and be ready for the jobs..</span>
                            <br><br>
                        </td>
                    </tr>
                    <tr>
                        <td class="h2-3">
                            <b>Get Hired</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>
                            <span style="color:#535967; font-size: 16px;">Showcase your profile with skills acquired and
                                get hired by your dream<br>
                                company.</span>
                            <br><br><br>
                        </td>
                    </tr>
                    <tr>
                        <td><button class="btn1"><span class="material-icons"
                                    style="font-size: 18px; font-weight: bold ;">check</span><b>&nbsp;&nbsp;Know
                                    More</b></button></td>
                    </tr>
                </table>
            </div>

        </div>
    </center>
    <center>
        <div class="div4">
            <div class="figure2">
                <span class="material-symbols-outlined change">military_tech</span><br><br>
                <span class="p-3 change"><b>CS Talent Show</b></span><br><br>
                <span class="pr2 change">CS talent show, a live event hosted by the student community through their social
                    media channels to showcase the projects done by students. Our instructors will monitor the students’projects and provide guidance.</span><br>
            </div>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <div class="figure2">
                
                <span class="material-symbols-outlined change">coffee</span><br><br>
                <span class="p-3 change"><b>Coffee with HR</b></span><br><br>
                <span class="pr2 change">MNC HR representatives will visit Baabtra students to present their company, job opportunities, And job nature. Students will learn about the companies and have the chance to apply for jobs.</span><br><br>
            </div>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <div class="figure2">
                <span class="material-symbols-outlined change">language</span><br><br>
                <span class="p-3 change"><b>Digital Fest</b></span><br><br>
                <span class="pr2 change">Digital fest for baabtra students is a platform for students to showcase their software application development skills to companies for securing a job.</span><br><br>
            </div>
        </div>
    </center>
    <div style="background-image: url(static/images/Baabtraback.png); width: 100%; height: 640px; padding-top: 100px;">
        <div style="margin-left: 8%; width: 60%; float: left;">
           <span class="dd1"> <b style="color: #ff1949; letter-spacing: 0px;">-----</b>THE SUCCESS STORIES</span><br>
           <span class="h3-1">Placed Candidates</span>
        </div>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <div style="margin-left: 24%; height: 100px;" >
            <button class="btn4" style="margin-left: 11%;"><b>
                <span class="material-symbols-outlined" style="font-size: 25px; text-align: bottom;">
                    person
                </span>
                Placement
            </b></button>
        </div>
        <br>
        <div style="margin-left: 9%; align-items: center; padding-top: 10px; display: flex; flex-direction: row ; width: 1300px;">
            <div class="card3" style="background-color: white; padding-left: 30px; padding-right: 30px; padding-bottom: 20px;" align="center">
                <img src="{% static 'images/b1.png' %}" width="200" height="200" style="border-radius: 100%; padding-top: 30px;"><br>
                <h3 style="color:#07294D; font-family: sans-serif;">Vishnu Lakshman</h3>
                <p style="color: #ff1949; font-family: sans-serif;">Full Stack Developer<br>
                QIZO</p>
            </div>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <div class="card3" style="background-color: white; padding-left: 30px; padding-right: 30px; padding-bottom: 20px;" align="center">
                <img src="{% static 'images/b2.png' %}" width="200" height="200" style="border-radius: 100%; padding-top: 30px;"><br>
                <h3 style="color:#07294D; font-family: sans-serif;">Achanya Anil</h3>
                <p style="color: #ff1949; font-family: sans-serif;">Web Developer Trainee<br>
                Limenzy</p>
            </div>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <div class="card3" style="background-color: white; padding-left: 30px; padding-right: 30px; padding-bottom: 20px;" align="center">
                <img src="{% static 'images/b3.png' %}" width="200" height="200" style="border-radius: 100%; padding-top: 30px;"><br>
                <h3 style="color:#07294D; font-family: sans-serif;">Raashida P</h3>
                <p style="color: #ff1949; font-family: sans-serif;">Associate Software Engineer<br>
                SRIT</p>
            </div>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <div class="card3" style="background-color: white; padding-left: 30px; padding-right: 30px; padding-bottom: 20px;" align="center">
                <img src="{% static 'images/b4.png' %}" width="200" height="200" style="border-radius: 100%; padding-top: 30px;"><br>
                <h3 style="color:#07294D; font-family: sans-serif;">Abijith Suresh</h3>
                <p style="color: #ff1949; font-family: sans-serif;">Java Developer<br>
                CCTS GLOBAL</p>
            </div>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </div>
    </div>
    <div style="background-color: #100F1F; width: 100%; height: 350px; padding-top: 80px;">
        <div style=" margin-left: 13%; align-items: center; display: flex; flex-direction: row ; width: 1300px;">
            <div class="card" style=" background-color: #100F1F; text-align: left; width: 470px;">
                <b class="sp3" >About Us</b><br><br>
                <span class="sp4">Baabtra, the best software trainingcompany in <br>Calicut has proved itsexpertise by training and <br>placing several hundreds of students both in<br>MNC’s like UST Global, Infosys, Oracle etc and <br>SME’s like Nucore Software Solutions, Sesame, <br>IOSS, ULTS.</span><br><br><br>
                <a href="#" class="fa fa-facebook"></a>&nbsp;&nbsp;&nbsp;<a href="#" class="fa fa-twitter"></a>&nbsp;&nbsp;&nbsp;<a href="#" class="fa fa-linkedin"></a>&nbsp;&nbsp;&nbsp;<a href="#" class="fa fa-instagram"></a><br><br>

            </div>
            <div class="card" style=" background-color: #100F1F; text-align: left; width: 200px;">
                <b class="sp3" >Company</b><br><br>
                <span class="sp5">About Us</span><br><br><span class="sp5">Placements</span> <br><br><span class="sp5">Testimonials</span> <br><br><span class="sp5">Gallery</span> <br><br><span class="sp5">Contact us</span><br><br><br><br><br>
            </div>
            <div class="card" style=" background-color: #100F1F; text-align: left; width: 200px;">
                <b class="sp3" >Courses</b><br><br>
                <span class="sp5">Python</span><br><br><span class="sp5">Flutter</span> <br><br><span class="sp5">Angular</span> <br><br><span class="sp5">Php</span> <br><br><br><br><br><br><br>
            </div>
            <div class="card" style=" background-color: #100F1F; text-align: left; width: 300px;">
                <b class="sp3" >Contact</b><br><br>
                <span class="material-symbols-outlined" style="color:#ff1949;">headphones</span><span class="cont1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;+91 859 205 8444</span><br><br>
                <span class="material-symbols-outlined" style="color:#ff1949;">mail</span><span class="cont1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;info@baabtra.com</span><br><br>
                <span class="material-symbols-outlined" style="color:#ff1949;">pin_drop</span><span class="cont1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;CAFIT Square, 5th Floor, HiLite <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Business Park, Thondayad <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Bye-Pass, Hilite City, Calicut, <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Kerala, India.</span>
                <br><br><br><br><br>
            </div>    
        </div>
    
    </div>
    <div style="width: 100%; height: 75px; padding-top: 25px;  display: flex; flex-direction: row ;">
        <div style="margin-left: 13%; width: 600px;">
            <img src="{% static 'images/logo-footer.png' %}" width="200" height="59">
        </div>
        <div style="padding-top: 22px;">
            <span style="color:#263B5E; font-size: 16px; font-family: sans-serif;">Copyright reserved to Baabtra. Proudly Crafted by <span class="foot1">Dataroots Tech.</span></span>
        </div>

    </div>
</body>
</html>